.CodeMirror {
    font-size: .8em;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#header_img {
    margin-top: 2em;
    margin-bottom: 1em;
}

.row {
  display: flex;
}

.column1 {
  flex: 50%;
  padding: 5px;
}

.column2 {
    flex: 50%;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}